# Virtual Environment
venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Distribution
build/
dist/
*.egg-info/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Temporary Files
*.tmp
*.bak

# Screenshots (optional)
# screenshots/ 

#to ignore testing file
test.py